<div class="container">
  <div class="row">
      <div class=" col-sm-12 page-header">
          <h2 class="h2 text-center">About Scentennial Fragrances</h2>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/1811-Rosoli-Flacon.jpg/512px-1811-Rosoli-Flacon.jpg">
        <hr>
        By FARINA GEGENUEBER - FARINA GEGENUEBER, Public Domain, <a target="_new" href="https://commons.wikimedia.org/w/index.php?curid=388015">Link</a>
    </div>
  </div>
</div>
