<div class="container">
    <div class="row">
        <div class=" col-sm-12 page-header">
            <h2 class="h2 text-center">Premium Scentennial Fragrances</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <!-----------    ACQUA DI GIÒ EAU DE TOILETTE   ------------------>
            <!-- <h5>ACQUA DI GIÒ EAU DE TOILETTE</h5>    -->
            <img class="img-responsive" src="assets/img/aqua_digio.png">
        </div>
        <div class="col-sm-6 offset-right-sm-2">
            <h5 class="title">ACQUA DI GIÒ EAU DE TOILETTE</h5>
            <div class="description">
                <!-- <img src="assets/img/giorgio_armani_logo.svg" width="181"> -->
                <h5>Description</h5>
                <p>his aquatic, hyacinth fragrance opens with a splash of fresh, calabrian bergamot, neroli and green tangerine. Light, aquatic nuances mix with jasmine fragrance, crisp rock rose, rosemary, fruity persimmon and warm Indonesian patchouli to create a men's fragrance that is both fresh and sensual.</p>
                <h5>Classification</h5>
                <p>Fruity / Rich</p>
                <h5>Notes</h5>
                <p>Rosemary spiciness, jasmine and wood</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <!-----------    TOBACCO VANILLE   ------------------>
            <img class="img-responsive" src="assets/img/tobacco_vanille.png">
        </div>
        <div class="col-sm-6 offset-right-sm-2">
            <h5 class="title">TOBACCO VANILLE</h5>
            <div class="description">
                <h5>Description</h5>
                <p>Tom Ford's affection for London inspired this scent, reminiscent of an English Gentalmen's Club, redolent with spice. He reinvents a classic fragrance genre by adding creamy Tonka Bean, Vanilla, Cocoa, dry fruit accords and sweet wood sap for a modern, opulent, and almost heady impression that's all man.</p>
                <h5>Classification</h5>
                <p>Tobacco</p>
                <h5>Notes</h5>
                <p>Tobacco Leaf, Ginger, Spice Notes, Tonka Bean, Cocoa, Fruit Accord.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <!-----------    CREED AVENTUS   ------------------>
            <img class="img-responsive" src="assets/img/creed-aventus.png">
        </div>
        <div class="col-sm-6 offset-right-sm-2">
            <h5 class="title">CREED AVENTUS</h5>
            <div class="description">
                <h5>Description</h5>
                <p>The exceptional Aventus was inspired by the dramatic life of a historic emperor, celebrating strength, power and success. Introduced in 2010 and crafted by the deft hand of Sixth Generation Master Perfumer Olivier Creed in collaboration with his son Erwin, this scent has grown to become the best-selling fragrance in the history of the brand. Olivier created its iconic name derived from a ("from") ventus ("the wind"), illustrating the Aventus man as destined to live a driven life, ever galloping with the wind at his back toward success. Aventus is a sophisticated blend for individuals who savor a life well-lived.</p>
                <h5>Classification</h5>
                <p>Fruity - Rich</p>
                <h5>Notes</h5>
                <p>Top note: Bergamot, blackcurrant leaves, apple, pineapple, Middle note: Pinkberries, birch, patchouli, jasmine, Base note: Musk, oakmoss, ambergris, vanilla</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <!-----------    CALVIN KLEIN ETERNITY   ------------------>
            <img class="img-responsive" src="assets/img/eternity.png">
        </div>
        <div class="col-sm-6 offset-right-sm-2">
            <h5 class="title">CALVIN KLEIN ETERNITY</h5>
            <div class="description">
                <h5>Description</h5>
                <p>Refined. Distinctive. Timeless. This refreshing woody aromatic scent distinctly masculine with a cool, crisp edge and a warm, woodsy trail.</p>
                <h5>Classification</h5>
                <p>Fruity - Rich</p>
                <h5>Notes</h5>
                <p>Top Notes: mandarin, lavender, green botanics, Middle Notes: basil, geranium, sage, Base Notes: sandalwood, rosewood, amber</p>
            </div>
        </div>
    </div>
    <hr>
</div>